<h3 mat-dialog-title>Process Binding to a Lot</h3>

  <div mat-dialog-content>
    <form [formGroup]="addProcessForm">

    <mat-form-field appearance="outline">
      <mat-label>Lot's Serial Number</mat-label>
      <input formControlName="id" matInput type="number" placeholder="Lot">
    </mat-form-field>
<!--
    <mat-form-field appearance="outline">
      <mat-label>Process Name</mat-label>
      <input formControlName="processName" matInput placeholder="Process Name">
    </mat-form-field> -->

      <mat-form-field appearance="fill">
        <mat-label>Process Name</mat-label>
        <mat-select formControlName="processName">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let processName of listProcess" [value]="processName.processName">
            {{processName.processName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </form>
  </div>

<div mat-dialog-action [align]="'end'">
  <button mat-stroked-button color="basic" (click)="addProcessInLot()" >Save</button>
  <button style="margin-left: 8px;" mat-stroked-button color="warn" mat-dialog-close>Close X </button>
</div>

