<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <span class="material-icons" style="transform: rotate(180deg); color: rgb(255, 82, 80);">umbrella</span> </button>

  <span>ERP</span>

  <span class="example-spacer"></span>

  <a class="button" routerLink="/launch-page" routerLinkActive="activebutton" ariaCurrentWhenActive="page" >
    <span class="material-icons" style=" color: rgb(255, 82, 80);">rocket_launch</span> Launch Production ! </a>

  <span class="example-spacer"></span>

  <a class="button" routerLink="/lot-page" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Lot Center</a> |
  <a class="button" routerLink="/process-page" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Process Center</a> |
  <a class="button" routerLink="/machine-page" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Machine Center</a>

</mat-toolbar>

<router-outlet></router-outlet>
