/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 2ch; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button-row {
  position: absolute;
  top: 15%;
  left: 85%;
  width: 490px;
}

mat-form-field {
  width: 90%;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
